*{
    background: #0C0C0C;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    font-weight: bolder;
    padding: 20px;
    height: 720px;
    align-items: flex-start;
}


.movie-poster {
    border-radius: 10px;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.desc{
    margin-top: 10px;
    flex: 1;
    max-width: 800px;
    padding-left: 100px;
}

.desc .movie-description-title, h2, .movie-name{
    font-size: 30px;
}
.movie-description {
    font-size: 12px;
    text-align: left;
    max-width: auto;
}

.movie-details .movie-description, .movie-trivia, .movie-actors{
    font-weight: lighter;
    padding-top: 20px;
}


.movie-info {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
    align-items: center;
    background: none;
}
.movie-info p {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.movie-info .movie-genre {
    background-color: #2c81fb;
}

.movie-info .movie-duration {
    background-color: #702bfe;
}
.movie-name{
    width: max-content;
}

.movie-details {
    flex-grow: 1;
}

.movie-actors{
    text-decoration: underline;
}

.desc h2{
    padding-top: 10px;
}

.desc ul{
    padding-left: 24px;
}

@media(max-width: 558px){
    .desc{
        padding-left: 0;
    }
}