*{
    background-color: #292c31;
    font-family: 'helvetica';
    height: 10px;
    padding: 0%;
    margin: 0%;
}
.table{
    flex-wrap: wrap;
    color: white;
    font-weight: bolder;
    padding-top: 8px;
    padding-left: 25px;
}

.table a{
    color: white;
}

.left{
    padding-top: 15px;
    width: 85%;
}
.right{
    padding-top: 10px;
    text-align: left;
    float: right;
    width: 15%;
}
.left, .right{
    display: inline-block;
}

@media(max-width: 1355px){
.left{
    width: 70%;
}
.right{
    width: 30%;
}
}