*{
    background-color: #292c31;
    overflow: hidden
}
.table{
    column-count: 2;
    column-gap: 1500px;
    color: white;
    font-weight: bolder;
}
.table h5{
    padding-top: 8px;
}
.table p{
    padding-left: 25px;
}