.movie-list {
    display: flex;
    flex-wrap: wrap;  /* Перенос карточек на следующую строку */
    gap: 20px;  /* Интервал между карточками */
    padding-top: 25px;
    justify-content: center;  /* Выравнивание по центру */
    color: white;
    font-weight: bolder;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #292D32;
    padding: 10px;
    width: calc(25% - 20px);  /* Задаем ширину 25%, минус интервал между карточками */
    box-sizing: border-box;  /* Учитываем padding и margin в расчете ширины */
    transition: transform 0.3s ease-in-out;  /* Добавляем плавный эффект при наведении */
}

.movie:hover {
    transform: scale(1.05);  /* Увеличиваем карточку при наведении */
}

.movie-poster {
    order: 1;;
    max-width: 100%;  /* Постер будет занимать всю ширину карточки */
    margin-bottom: 10px;
}

.movie-name {
    order: 2;
    font-size: 20px;
    margin-bottom: 5px;
}

.movie-description {
    order: 3;
    font-size: 12px;
    text-align: left;
    max-width: 180px;
}
