.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 25px;
    justify-content: center;
    color: white;
    font-weight: bolder;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #292D32;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.movie:hover {
    transform: scale(1.05);
}

.movie-poster {
    order: 1;;
    max-width: 100%;
    margin-bottom: 10px;
}

.movie-name {
    order: 2;
    font-size: 20px;
    margin-bottom: 5px;
}

.movie-description {
    order: 3;
    font-size: 12px;
    text-align: left;
    max-width: 180px;
}
.movie-list .movie .movie-name{
    background: none;
}
.movie-list .movie .movie-description{
    background: none;
}
a{
    background: none;
}