*{
    background: #0C0C0C;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 90px; 
    border: none;
    margin: 0%;
}
.footer{
    width: 100%; 
    border: none;
    height: 65px;
}
a{
    text-decoration: none;
    color: white;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.movie {
    background-color: #292D32;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-poster {
    border-radius: 10px;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.movie-name {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.movie-description {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.movie-info {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
    align-items: center;
    background: none;
}


.movie-info div {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.movie-info .rating {
    background-color: #292c31;
}

.movie-info .genre {
    background-color: #2c81fb;
}

.movie-info .duration {
    background-color: #702bfe;
}
