*{
    background: #0C0C0C;
}

.header{
    width: 100%;
    height: 90px; 
    border: none;
    margin: 0%;
}
.footer{
    width: 100%; 
    border: none;
    height: 65px;
}
a{
    text-decoration: none;
    color: white;
}
